body {
    background-image: url(../images/ripples.png);
    width: 100%;
    overflow-x: hidden;
}
nav {
    background-color: white;
    z-index: 3;
    display: inline-block;
    border-bottom: 1px solid #cccccc;
}

.navbar-brand {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    margin-left:16% !important;
}

.nav-item {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
}

#nav {
    margin: 0;
    padding: 0;
}

.nav-break {
    display: none;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#name {
    color: white;
    line-height: 2;
    margin: 0;
    background-color: #4aaaa5;
}

.img-thumbnail {
    width: 200px;
    height: 200px;
}

#content {
    background-color: white;
    position: relative;
    padding: 20px;
}

.content-margin {
    height: 80px;
}

.page-footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    bottom: 0%;
    position: fixed;
    width: 100%;
    height: 7%;
    z-index: 90;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer-copyright {
    text-align: center;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

#bio {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    padding: 0px 0px 10px 0px;
}

#bioPic {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
}

.img-thumbnail {
    float: left;
    margin-right: 15px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #6e6e6e;
}

.caption {
    background-color: #4aaaa5;
    width: 300px;
}

.container {
    position: relative;
}

.labels {
    position: relative;
    z-index: 2;
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: inline-block;
}

input[type="text"],input[type="email"],textarea {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #dddddd;
}

input[type="submit"] {
    background: #4aaaa5;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 130px;
}

input[type="submit"]:hover {
    background: #2f7e7a;
    cursor: pointer;
    color: white;
}

input[type=text]:focus,input[type="email"]:focus,textarea:focus {
    box-shadow: 0 0 5px #4aaaa5;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #4aaaa5;
  }



@media screen and (max-width : 640px) {
    #name {
        margin: 0 auto; 
        width: 100%;
        text-align: center;
        display: block;
    }
    .navbar-brand {
        justify-content: left;
        margin-left:0% !important;
        position: relative;
        width: 100%;
    }
    .navbar-nav {
        display: block;
        padding-left: 33%;
    }

    #bioPic {
        display: block;
        align-content: center;
        width: 250px;
        height: 250px;
        margin-left:  17.5%;
    }
    p {
        display: block;
        clear: both;
        padding-top: 10px;
    }
    #content {
        margin: 0px 50px;
    }

    h1 {
        text-align: center;
    }

    .nav-break {
        display: block;
    }

    .navbar-nav a {
        display: inline;
    }

    .navbar-nav p {
        display: inline;
    }

}
